body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: #efefef;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  max-width: 600px;
}

.preheader-text {
  display: none;
  font-size: 1px;
  color: #fefefe;
  line-height: 1px;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

.main {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
}

.logo-bar {
  padding: 30px 26px;
  height: 60px;
}

.logo-bar .drop-logo {
  display: block;
  color: #ffffff;
  font-size: 16px;
  min-width: 60px;
  min-height: 60px;
}

.hero-image {
  display: block;
  color: #666666;
  font-size: 16px;
  background-color: #eaeaea;
  max-width: 100%;
  width: 600px;
}

.divider {
  width: 80%;
  height: 1px;
  max-height: 1px;
  padding: 0;
  border-radius: 8px;
  background-color: #ededed;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
