body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: #efefef;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.preheader-text {
  display: none;
  font-size: 1px;
  color: #fefefe;
  line-height: 1px;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

.logo-bar {
  padding: 30px 26px;
  height: 60px;
}

.main {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  height: 60px;
  background-color: #2bd686;
  display: block;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 100px;
  cursor: pointer;
  white-space: nowrap;
}

.button a {
  font-family: Helvetica, sans-serif;
  padding: 25px 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
}

.button.light {
  background-color: rgb(244, 253, 249);
}

.button.light a {
  color: rgb(43, 214, 134);
}

.button.wide {
  max-width: 280px;
}

.button.wide a {
  padding: 25px 65px;
  letter-spacing: 1.9px;
}

.button.small {
  height: 40px;
}

.button.small a {
  padding: 10px 20px;
  font-size: 11px;
  line-height: 40px;
}

.logo-bar .drop-logo {
  display: block;
  color: #ffffff;
  font-size: 16px;
  min-width: 60px;
  min-height: 60px;
}

.hero-image {
  display: block;
  color: #666666;
  font-size: 16px;
  background-color: #eaeaea;
  max-width: 100%;
  width: 600px;
}

.divider {
  width: 80%;
  height: 1px;
  max-height: 1px;
  padding: 0;
  border-radius: 8px;
  background-color: #ededed;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}
