@font-face {
  font-family: Sailec;
  src: url("https://s3.amazonaws.com/drop-web-font/Sailec-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Sailec;
  src: url("https://s3.amazonaws.com/drop-web-font/Sailec.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sailec;
  src: url("https://s3.amazonaws.com/drop-web-font/Sailec-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Sailec;
  src: url("https://s3.amazonaws.com/drop-web-font/Sailec-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
