.item {
  display: block;
  color: #666666;
  width: 100%;
  height: auto;
  max-width: 350px;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #eaeaea;
}

.item-wrap {
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #efefef;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}
